@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TAI facebook events</h1>
    <p class="lead">Projekt zaliczeniowy Technlogii Aplikacji Internetowych</p>
    <p class="lead">Grzegorz Najderek</p>
    <p>
        @*<div class="btn btn-primary btn-lg" style="color:white">@Html.ActionLink("Events", "Index", "Event")</div>*@
        <a href="/Event" class="btn btn-primary btn-lg">Events &raquo;</a>
        <a href="https://github.com/Najderas/TAIfacebookEvents" class="btn btn-primary btn-lg">Github code &raquo;</a>
    </p>
</div>

<br />

<div class="jumbotron">
    <p>Aby kontynuować, musisz być zalogowany. Możesz stworzyć konto na tej stronie, ale jeśli chcesz mieć możliwość publikowania notatek podsumowujących, musisz sie zalogować kontem z facebooka.</p>
</div>

    <div class="row">
        <p>identity:</p>
        <h3>@ViewBag.identity</h3>
        <p>auth type:</p>
        <h4>@ViewBag.authType</h4>
        @*<p>cookies:</p>
        @foreach (var c in ViewBag.cookies)
        {<p>@c</p>}*@

    </div>

    @if (Request.IsAuthenticated)
    {

    }
    else
    {

    }
